section {
	max-width: 1200px;
	margin: 0 auto;
}

span {
	background-color: #FDFD96;
	padding: 2px 5px;
}

input[type=text] {
	display:block;
    width: 60%;
    padding: 10px 35px;
    margin: 8px 0;
    box-sizing: border-box;
}